body{
    margin: 0;
   
}
.whole{
    
    text-align: center;
  background-color: rgb(63, 63, 63);
  height: 100vh;
  width: 100vw;
}



#inputbox{
   
   display: inline-block;
    margin-top: 5vh;
    width: 95vw; 
    height: 10vh;
    text-align: right;
    background: rgb(102, 102, 102);
    font-size: 250%;
    border: 0;
    padding-bottom: 4%;
    pointer-events: none;
   
}
.buttondivision{
    display: inline-block;
    margin-top: 9vh;
    width: 100vw;
    height: 67%;
  
}
.allbutton{
    
   border: 1px solid rgb(63, 63, 63);
   margin-left: -0.3vw;
    padding: 3.5vh;
    width: 24vw;
    background-color: rgb(182, 182, 182);
    font-size: 200%;
    
    
}

.number{
    font-weight: bold;
}
.allbutton:hover{
    background-color: rgb(162, 162, 162);
    
}
.allbutton:active{
  padding-top: 4vh;
  padding-bottom: 3.45vh;
  
background-color: rgb(142, 142, 142);

   font-size: 4.5vh;
}